<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Cloudformation</string>
	<key>ordering</key>
	<array>
		<string>2A858AA0-3516-454A-B664-DF3A5F7D64A0</string>
		<string>54BE5632-2394-417B-A042-4BCE8425C6C0</string>
		<string>0C3868E4-F96B-4E55-B204-1DCB5A20748B</string>
		<string>4B74F2DE-E051-4E8D-9124-EBD90A2CDD2B</string>
		<string>602A2C67-B5DD-4DDF-9E40-D3EB1254EC8B</string>
		<string>9E226D8B-6136-49CA-A6F9-19E64593FB1F</string>
	</array>
	<key>uuid</key>
	<string>D56A699C-E8C0-4A48-BC69-74811C8BF023</string>
</dict>
</plist>
